.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    background-image: url(https://www.visitlisboa.com/themes/lisbon/images/demo/plan/timer.gif);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

.header-table {
  background-color: #21618C;
  color: white;
  text-align: center;
  font-size: 16px;
  border-radius: 8px 8px 0px 0px;
  width: 100%;
}

.heading{
  font-size: 40px;
  font-family: 'Baloo Bhaijaan', cursive; 
}

table {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}

th, td {
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    word-break: break-all;
    padding: 7px;
    width: 13%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.send{
  cursor: not-allowed;
  pointer-events: none; 
  color: white;
  border-color:grey; 
  background-color: grey;
}

.hover-background:hover{background-color:#f5f5f5}

